# Apply to all tools that use GNU readline library (postgresql shell,
# pyshell, etc...)

$include /etc/inputrc
# ! bind -v to show list of variables.
# Indicate the matching portion of the completion.
set colored-completion-prefix on
# Show different colors during completion.
set colored-stats on
# Match parentheses.
set blink-matching-paren on

# Show current editing mode.
set show-mode-in-prompt on
# * Integrate current editing mode with cursor.
# - Insert mode (caret cursor).
set vi-ins-mode-string \1\e[5 q\e]12;31\a\2
# - Normal mode (block cursor).
set vi-cmd-mode-string \1\e[1 q\e]12;31\a\2

# * Integrate current editing mode with powerline.
# set vi-ins-mode-string \1\e[48;5;117;1m\2 I \1\e[38;5;117;48;5;31;1m\2\1\e[0m\2
# set vi-cmd-mode-string \1\e[48;5;166;1m\2 N \1\e[38;5;166;48;5;31;1m\2\1\e[0m\2

#@ref [setup a emacs+vi editing mode in readline](https://unix.stackexchange.com/questions/303631/how-can-i-setup-a-hybrid-readline-with-emacs-insert-mode-and-vi-command-mode)
#@ref [modes and keymappings in readline](https://superuser.com/questions/286781/readline-difference-between-vi-vi-move-vi-command-vi-insert-keymaps)
#  @tldr
#  `vi` = `vi-move` = `vi-command` (used `vi-move` here as I have seen only one
#  command to get to these modes - `vi-movement-mode`)
#
#  `insert` mode is called `vi-editing-mode` here.
#
# > Notes about keymappings:
# > "\e" is either meta (alt) key or escape.
set editing-mode vi

# Key bindings to get from emacs to normal vi mode (most of the keymappings are
# set in insert, left just in case).
set keymap emacs
"\ee": vi-movement-mode

# Key bindings to get from normal (movement) to emacs editing-mode.
#  To get from normmal to insert (editing) vi mode just use default vi keybindings such as `i` and `A`.
set keymap vi-move
# Left just in case.
"\ee": emacs-editing-mode

# Key bindings to get from insert (editing) to normal (movement) vi mode.
set keymap vi-insert
"\ee": vi-movement-mode
# "jk": vi-movement-mode
# "kj": vi-movement-mode

# Emacs keybindings in vi-insert mode
"\C-@": set-mark
"\C-]": character-search
"\C-_": undo
"\C-a": beginning-of-line
"\C-b": backward-char
"\C-d": delete-char
"\C-e": end-of-line
"\C-f": forward-char
"\C-g": abort
"\C-k": kill-line
"\C-l": clear-screen
"\C-o": operate-and-get-next
"\C-q": quoted-insert
"\C-x!": possible-command-completions
"\C-x$": possible-variable-completions
"\C-x(": start-kbd-macro
"\C-x)": end-kbd-macro
"\C-x*": glob-expand-word
"\C-x/": possible-filename-completions
"\C-x@": possible-hostname-completions
"\C-x\C-?": backward-kill-line
"\C-x\C-e": edit-and-execute-command
"\C-x\C-g": abort
"\C-x\C-r": re-read-init-file
"\C-x\C-u": undo
"\C-x\C-v": display-shell-version
"\C-x\C-x": exchange-point-and-mark
"\C-xe": call-last-kbd-macro
"\C-xg": glob-list-expansions
"\C-x~": possible-username-completions
"\e ": set-mark
"\e!": complete-command
"\e#": insert-comment
"\e$": complete-variable
"\e&": tilde-expand
"\e*": insert-completions
"\e-": digit-argument
"\e.": insert-last-argument
"\e.": yank-last-arg
"\e/": complete-filename
"\e0": digit-argument
"\e1": digit-argument
"\e2": digit-argument
"\e3": digit-argument
"\e4": digit-argument
"\e5": digit-argument
"\e6": digit-argument
"\e7": digit-argument
"\e8": digit-argument
"\e9": digit-argument
"\e<": beginning-of-history
"\e=": possible-completions
"\e>": end-of-history
"\e?": possible-completions
"\e@": complete-hostname
"\e\C-?": backward-kill-word
"\e\C-]": character-search-backward
"\e\C-e": shell-expand-line
"\e\C-g": abort
"\e\C-h": backward-kill-word
"\e\C-i": dynamic-complete-history
"\e\C-r": revert-line
"\e\C-y": yank-nth-arg
"\e\\": delete-horizontal-space
"\e\e": complete
"\e^": history-expand-line
"\e_": insert-last-argument
"\e_": yank-last-arg
"\eb": backward-word
"\ec": capitalize-word
"\ed": kill-word
"\ef": forward-word
"\eg": glob-complete-word
"\el": downcase-word
"\en": non-incremental-forward-search-history
"\ep": non-incremental-reverse-search-history
"\er": revert-line
"\et": transpose-words
"\eu": upcase-word
"\ey": yank-pop
"\e{": complete-into-braces
"\e~": complete-username
