[core]
	autocrlf = input
[user]
	name = DeadlySquad13
	email = 46250621+DeadlySquad13@users.noreply.github.com
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[credential]
  helper = /mnt/e/soft/GitForWindows/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
[init]
	templateDir = /home/dubuntus/.git-template
