; The variable names (and alises too) are case-insensitive, allow only alphanumeric characters
;   and -, and must start with an alphabetic character.
[core]
	autocrlf = input
[user]
	name = DeadlySquad13
	email = 46250621+DeadlySquad13@users.noreply.github.com
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  c = clone
  ; - Add all.
  aa = add -A
	co = checkout
  sw = switch
  br = branch
  st = status
  cm = commit -m
  pl = pull
  ps = push
  ; - Push head.
  psh = push -u origin HEAD
  unstage = restore --staged
  unstage-all = reset HEAD --
[credential]
  helper = /mnt/e/soft/GitForWindows/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
[init]
	templateDir = /home/dubuntus/.git-template
