; The variable names (and alises too) are case-insensitive, allow only alphanumeric characters
;   and -, and must start with an alphabetic character.
[core]
	autocrlf = input
	excludesfile = ~/.config/git/.global_gitignore
    ignorecase = false
[user]
	name = DeadlySquad13
	email = 46250621+DeadlySquad13@users.noreply.github.com
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  c = clone
  ; - Add all.
  aa = add -A
	co = checkout
  sw = switch
  br = branch
  st = status
  cm = commit -m
  pl = pull
  ps = push
  ; - Push head.
  psh = push -u origin HEAD
  unstage = restore --staged
  unstage-all = reset HEAD -- ; Performs mixed reset.
[init]
	templateDir = ~/.git-template
	defaultBranch = main
[safe]
	directory = /var/local/Backup/_dotfiles
	directory = /var/local/Backup/_dotfiles/stow_home/nvim/.config/nvim
[pull]
	rebase = false
